<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

<div>
<div class="col-sm-12 single">
    <h1><%= title %></h1>
    <h3>Details of a Single Employee</h3>
    <p>I am a employee for this ID = <%= employee.id %></p>
    <p>First Name: <%= employee.first_name %></p>
    <p>Last Name: <%= employee.last_name %></p>
    <p>Email: <%= employee.email %></p>
    <p>Role: <%= employee.role %></p>
    <p>Department: <%= employee.Department.name %></p>
    <p>Mobile Number: <%= employee.mobile_number %></p>
    <a href="/employee/<%= employee.id %>/update">Edit employee</a> | <a href="/employee/<%= employee.id %>/delete">Delete employee</a>
</div>

<% if(employee.Expenses.length == 0) { %>
    <h2>There are no expenses made by this employee yet </h2>
<% } else { %>
    <h2>Expenses Made: <%= employee.Expenses.length %> </h2>
    <div>
        <% employee.Expenses.forEach(function(expense) { %>
            <div class="details">
          <div>
            <p><%= expense.name %></p>
            <p>Amount: $<%= expense.amount %></p>
          </div>
          <% if (expense.status == 'Pending') { %>
            <p>Status: <%= expense.status %></p>
            <button class="review-expense-button">Review Expense</button><br>
            <a href="/expense/<%= expense.id %>" >View Expense</a> | <a href="/expense/<%= expense.id %>/update">Edit expense</a> | <a href="/expense/<%= expense.id %>/delete">Delete expense</a>
            <div class="modal-container modal">
                <div class="modal">
                    <button class="close-btn close">
                        <i class="fa fa-times"></i>
                    </button>
                    <div>
                        <p>Name: <%= expense.name %></p>
                        <p>Details: <%= expense.details %></p>
                        <p>Amount: $<%= expense.amount %></p>
                    </div>
            <form action="/expense/<%= expense.id %>/review" method="post" class="toggle" id="review-expense-form">
                Manager:
                    <select name = "employee_id" class="form-control">
                        <% employees.forEach(function(employee) { %>
                            <% if((employee.role.toLowerCase()) == 'manager' && employee.DepartmentId == expense.DepartmentId){ %>  
                                <option  value="<%= employee.id %>"><%= employee.first_name %></option>
                                <% } %>
                        <br/>
                        <% }); %>
                    </select>
                    <br>
                    Status:
                    <select name = "status">
                        <option value="Approved">Approved</option>
                        <option  value="Declined">Declined</option>
                    </select><br>
                    <input type="submit" value="Submit">
            </form>
            </div>
            </div>
        </div>
            <% } else { %>
                <p>Status: <%= expense.status %></p>
                <a href="/expense/<%= expense.id %>" >View Expense</a> | <a href="/expense/<%= expense.id %>/delete">Delete expense</a>
            </div>
            <% } %>
        <% }); %>
      </div>
 <% } %>
<div>
    <button class="review-expense-button">Make an expense</button>
    <div class="modal-container modal">
        <div class="modal">
    <button class="close-btn close">
        <i class="fa fa-times"></i>
    </button>
    <form action="/expense/create" method="post">
        <input type="hidden" name="employee_id" value="<%= employee.id %>">
                Name: <br>
                <input type="text" name="name" placeholder="Name">
                <br><br>
                Details:<br>
                <input type="text" name="details" placeholder="Details">
                <br><br>
                Amount:<br>
                <input type="number" name="amount" placeholder="Amount">
                <br><br>
                Type:<br>
                <select name = "type_id" class="form-control">
                    <% types.forEach(function(type) { %>
                    <option  value="<%= type.id %>"><%= type.name %></option>
                    <br/>
                    <% }); %>
                </select>
                <br><br>
                Category:<br>
                <select name = "category_id" class="form-control">
                    <% categories.forEach(function(category) { %>
                    <option  value="<%= category.id %>"><%= category.name %></option>
                    <br/>
                    <% }); %>
                </select>
                <br><br>
                <input type="submit" value="Submit">
    </form>
</div>
</div>
</div>

</div>


<%- include('../includes/end.ejs') %>