<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1>Hello World</h1>
</div>
<div class="col-sm-12 single">
    <h1><%= title %></h1>
    <h3>Details of a Single Employee</h3>
    <p>I am a employee for this ID = <%= employee.id %></p>
    <p>First Name: <%= employee.first_name %></p>
    <p>Last Name: <%= employee.last_name %></p>
    <p>Email: <%= employee.email %></p>
    <p>Role: <%= employee.role %></p>
    <p>Mobile Number: <%= employee.mobile_number %></p>
    <a href="/employee/<%= employee.id %>/update">Edit employee</a> | <a href="/employee/<%= employee.id %>/delete">Delete employee</a>
</div>
</div>

<a href="employee/create"><button>Add employee</button></a>

<%- include('../includes/end.ejs') %>