<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1>List of Employees</h1>
</div>
<div class="col-sm-12">    
    <div class="">
    <ol>
    <% employees.forEach(function(employee) { %>
            <div class="details">
                <h4><a href="/employee/<%= employee.id %>"><%= employee.first_name %></a></h4>
                <p>Email: <%= employee.email %></p>
                <p>First Name: <%= employee.first_name %></p>
                <p>Last Name: <%= employee.last_name %></p>
                <p>Role: <%= employee.role %></p>
                <p>Department: <%= employee.Department.name %></p>
                <p>Mobile Number: <%= employee.mobile_number %></p>
                <p>ID: <%= employee.id %></p>
                <p>Number of Expenses Made: <%= employee.Expenses.length %></p>
                 <a href="employee/<%= employee.id %>/update">Edit employee</a> | <a href="employee/<%= employee.id %>/delete">Delete employee</a>
            </div>
        <br/>
    <% }); %>
    </ol>
</div>
</div>

<a href="employee/create"><button>Add employee</button></a>

<%- include('../includes/end.ejs') %>