<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1>Hello World</h1>
</div>
<div class="col-sm-12 single">
    <h1><%= title %></h1>
    <h3>Details of a Single Expense</h3>
    <p>Expense ID = <%= expense.id %></p>
    <p>Name: <%= expense.name %></p>
    <p>Details: <%= expense.details %></p>
    <p>Amount: $<%= expense.amount %></p>
    <p>Type: <%= expense.type %></p>
    <p>Time Created: <%= expense.time %></p>
    <a href="/expense/<%= expense.id %>/update">Edit expense</a> | <a href="/expense/<%= expense.id %>/delete">Delete expense</a>
</div>
</div>

<a href="expense/create"><button>Add expense</button></a>

<%- include('../includes/end.ejs') %>