<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1>Dashboard</h1>
    <p>Total number of employees: <%= employeesCount.count %></p>
    <p>Total number of expenses made: <%= expenseCount.count %></p>
    <p>Total number of Categories: <%= categoryCount.count %></p>
    <p>Total number of Types: <%= typeCount.count %></p>
    <p>Total number of Departments: <%= departmentCount.count %></p>
    <p>Total sum of all expenses: $<%= totalSum%></p>
</div>

<div class="info">
<div>
    <h2>Top 5 Most Recent Expenses</h2>
    <ol>
    <% recents.forEach(recent => { %>
        <li>Name: <%= recent.name %>, Amount: $<%= recent.amount %></li>
        <%}) %>
    </ol>
</div>

<div>
    <h2>Top 5 Most Expensive Expenses</h2>
    <ol>
    <% expensiveExpenses.forEach(expensiveExpense => { %>
        <li>Name: <%= expensiveExpense.name %>, Amount: $<%= expensiveExpense.amount %></li>
        <%}) %>
    </ol>
</div>

<div>
    <h2>Expenses listed by Category</h2>
    <% expenseCategories.forEach(expenseCategory => { %> 
        <ul>
        <li><h3><%= expenseCategory.name %></h3></li>
        <%if(expenseCategory.Expenses.length == 0){%> 
            <p>There are no expenses under this category yet</p>
        <%}else{%> 
            <ol>
            <% expenseCategory.Expenses.forEach(item => { %> 
                <li>Name: <%= item.name %>, Amount: $<%= item.amount %> </li>
            <%}) %>
            </ol>
        <%}
        %>
        </ul>
    <% })
    %>
</div>

<div>
    <h2>Expenses listed by Types</h2>
    <% expenseTypes.forEach(expenseType => { %> 
        <ul>
        <li><h3><%= expenseType.name %></h3></li>
        <%if(expenseType.Expenses.length == 0){%> 
            <p>There are no expenses under this type yet</p>
        <%}else{%> 
            <ol>
            <% expenseType.Expenses.forEach(item => { %> 
                <li>Name: <%= item.name %>, Amount: $<%= item.amount %> </li>
            <%}) %>
            </ol>
        <%}
        %>
        </ul>
    <% })
    %>
</div>

<div>
    <h2>Expenses listed by Department</h2>
    <% expenseDepartments.forEach(expenseDepartment => { %> 
        <ul>
        <li><h3><%= expenseDepartment.name %></h3></li>
        <%if(expenseDepartment.Expenses.length == 0){%> 
            <p>There are no expenses under this department yet</p>
        <%}else{%> 
            <ol>
            <% expenseDepartment.Expenses.forEach(item => { %> 
                <li>Name: <%= item.name %>, Amount: $<%= item.amount %> </li>
            <%}) %>
            </ol>
        <%}
        %>
        </ul>
    <% })
    %>
</div>
</div>

<%- include('../includes/end.ejs') %>
