<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1><%= title %></h1>
    <p>Total number of employees: <%= employeesCount.count %></p>
    <p>Total number of expenses made: <%= expenseCount.count %></p>
    <p>Total number of Categories: <%= categoryCount.count %></p>
    <p>Total sum of all expenses: $<%= totalSum%></p>
</div>

<div>
    <p>Top 5 Most Recent Expenses</p>
    <% recents.forEach(recent => { %>
        <p>Name: <%= recent.name %>, Amount: $<%= recent.amount %></p>
        <%}) %>
</div>

<div>
    <p>Top 5 Most Expensive Expenses</p>
    <% expensiveExpenses.forEach(expensiveExpense => { %>
        <p>Name: <%= expensiveExpense.name %>, Amount: $<%= expensiveExpense.amount %></p>
        <%}) %>
</div>

<%- include('../includes/end.ejs') %>
