<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1><%= title %></h1>
    <p>Total number of employees: <%= employeesCount.count %></p>
    <p>Total number of expenses made: <%= expenseCount.count %></p>
    <p>Total number of Categories: <%= categoryCount.count %></p>
</div>

<%- include('../includes/end.ejs') %>
