<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<div>
    <h1><%= title %></h1>
    <p>Total employees in database is <%= employeesCount.count %></p>
</div>

<%- include('../includes/end.ejs') %>
