<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

<% if (title == 'Create Employee') { %>
    <div>
        <h2>Add Employee</h2>
        <div>
            <% if(typeof errorMessage != 'undefined') { %>
                <div class="alert alert-danger alert-dismissible w-75 mx-auto">
                    <button type="button" class="closed" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </button>
                <% errorMessage.forEach((error) => { %>
                        <strong><%= error.msg %></strong> <br> 
                <% }) %>
                </div>
            <% } %>
            <form action="" method="post">
                First Name: <br>
                <input type="text" name="first_name" placeholder="First Name">
                <br><br>
                Last Name:<br>
                <input type="text" name="last_name" placeholder="Last Name">
                <br><br>
                Email Address:<br>
                <input type="email" name="email" placeholder="Email">
                <br><br>
                Mobile Number:<br>
                <input type="number" name="mobile_number" placeholder="Mobile Number">
                <br><br>
                Role:
                <select name="role">
                    <option value="Employee">Employee</option>
                    <option value="Manager">Manager</option>
                </select>
                <br>
                Department:
                <select name="department_id">
                    <% departments.forEach((department) => { %>
                        <option value="<%= department.id %>"><%= department.name %></option>
                        <br/>
                        <% }); %>
                </select>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <% } else if (title == 'Update Employee') { %>
        <div>
            <h2>Edit Employee</h2>
            <div>
                <form action="" method="post">
                    First Name: <br>
                    <input type="text" name="first_name" value= <%= employee.first_name%> >
                    <br><br>
                    Last Name:<br>
                    <input type="text" name="last_name" value= <%= employee.last_name%> >
                    <br><br>
                    Email Address:<br>
                    <input type="email" name="email" value= <%= employee.email%> >
                    <br><br>
                    Mobile Number:<br>
                    <input type="number" name="mobile_number" value= <%= employee.mobile_number%> >
                    <br><br>
                    Role:<br>
                    <input type="text" name="role" value= <%= employee.role%> >
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
<% } %>

<%- include('../includes/end.ejs') %>